* {
    box-sizing: border-box;
    margin: 0;
    height: 0;
}

header {
    width: 100%;
    height: 140px;

    border-bottom: 1px solid #FFCC00;
}



nav {
    width: 1000px;
    
    margin: 0 auto;
    
    text-align: center;
}

nav > img {
    width: 106px;
    height: 93px;

    margin: 23px 80px;

    float: left;
}

nav > ol {
    list-style: none;

    text-align: left;
}

nav > ol > li {
    line-height: 140px;

    list-style: none;
    
    display: inline-block;
}

nav > ol > li:nth-child(1) {
    width: 157px;
    height: 140px;
}

nav > ol > li:nth-child(2) {
    width: 140px;
    height: 140px;
}

nav > ol > li:nth-child(3) {
    width: 173px;
    height: 140px;
}

nav > ol > li:nth-child(4) {
    width: 155px;
    height: 140px;
}

nav > .button_box {

    width: 500px;
    margin: 30px  -280px;
    
    display: block;

    float: right;
}

nav > .button_box > a {
    width: 80px;
    height: 36px;
    
    display: inline-block;

    border: none;
    border-radius: 30px;

    color: #fff;

    font-size: 13px;
    font-weight: 600;

    line-height: 36px;
}

nav > .button_box > a:nth-child(1) {
    background-color: #db0007;
}

nav > .button_box > a:nth-child(2) {
    background-color: #db8700;
}

nav > .button_box > a:nth-child(3) {
    background-color: #264a36;
}

nav > .button_box > img {
    display: inline-block;
    
    width: 50px;
    height: 50px;

    margin: 0 10px;
    padding-top: 12px;

    line-height: 30.4;
}