.box1 {
    width: 600px;
    height: 600px; 
    background-color: skyblue;
}

.box2 {
    width: 400px;
    height: 300px;
    background-color: chocolate;
} 

.box1 > h1 {
    color: palegreen;
}

.box1 h1 {
    border: 2px solid #fff;
}

.box1 > .box2 > h2 {
    color: aquamarine;
}

#p1:hover {
    background-color: #ddd;
}

#p2:active {
    background-color: #ddd;
}

#p2:focus {
    background-color: #ddd;
}