.box {
    width: 50%;
    height: 200px;
    background-color: rgba(135, 207, 235, 0.205);
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: 1px solid black;
    margin: 0 auto;
}