* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    float: left;
    text-align: center;
    font-weight: bold;
}

header{
    width: 1200px;
    margin: 0 auto;
    font-size: 20pt;
    line-height: 100px;
}

header > .box1 {
    width: 200px;
    height: 100px;
    background-color: aqua;
}

header > .box2 {
    width: 1000px;
    height: 100px;
    background-color: rgb(140, 94, 220);
}

section {
    width: 1200px;
    margin: 0 auto;
    font-size: 20pt;
}

section > .box1 {
    width: 1200px;
    height: 300px;
    background-color: burlywood;
}

article {
    width: 1200px;
    margin: 0 auto;
    font-size: 20pt;
}

article > .box1 {
    width: 400px;
    height: 200px;
    background-color: aquamarine;
}

article > .box2 {
    width: 400px;
    height: 200px;
    background-color: cadetblue;
}

article > .box3 {
    width: 400px;
    height: 200px;
    background-color: rgb(33, 114, 117);
}

footer {
    width: 1200px;
    margin: 0 auto;
    font-size: 20pt;
}

footer > .box1 {
    width: 200px;
    height: 100px;
    background-color: cornflowerblue;
}

footer > .box2 {
    width: 800px;
    height: 100px;
    background-color: coral;
}

footer > .box3 {
    width: 200px;
    height: 100px;
    background-color: blueviolet;
}
